In [37]:
from selenium import webdriver
import pandas as pd

In [38]:
# open the website

driver = webdriver.Chrome('/home/aayush/Downloads/Chrome_driver_Selenium/chromedriver')
driver.get('https://pokemondb.net/pokedex/all')
driver.maximize_window()

In [39]:
#privacy policy

button = driver.find_element_by_class_name('gdpr-accept')

try:
    button.click()
except:
    pass

In [40]:
# button = driver.find_element_by_xpath('//button[@class="btn btn-primary gdpr-accept"]')

# try:
#     button.click()
# except:
#     pass

In [41]:
## create locators

pokemon_name = driver.find_elements_by_xpath('//tbody/tr/td[2]')

pokemon_type = driver.find_elements_by_xpath('//tbody/tr/td[3]')

pokemon_total = driver.find_elements_by_xpath('//tbody/tr/td[4]')

pokemon_hp = driver.find_elements_by_xpath('//tbody/tr/td[5]')

pokemon_attack = driver.find_elements_by_xpath('//tbody/tr/td[6]')

pokemon_defence = driver.find_elements_by_xpath('//tbody/tr/td[7]')

pokemon_sp_attack = driver.find_elements_by_xpath('//tbody/tr/td[8]')

pokemon_sp_defense = driver.find_elements_by_xpath('//tbody/tr/td[9]')

pokemon_speed = driver.find_elements_by_xpath('//tbody/tr/td[10]')

In [42]:
# create an empty list

# pokemon_name_list=[]
# pokemon_type_list=[]
# pokemon_total_list = []
# pokemon_hp_total_list = []
# pokemon_attack_list=[]
# pokemon_defence_list=[]
# pokemon_sp_attack_list=[]
# pokemon_sp_defense_list=[]
# pokemon_speed_list=[]

In [43]:
pokemon_results=[]

In [44]:
# create a dictionary

for i in range(len(pokemon_name)):
    pokemon_dict ={'Name':pokemon_name[i].text,
                  'Type': pokemon_type[i].text,
                  'Total': pokemon_total[i].text,
                  'HP': pokemon_hp[i].text,
                  'attack': pokemon_attack[i].text,
                  'defence': pokemon_defence[i].text,
                  'sp_attack': pokemon_sp_attack[i].text,
                  'sp_defense': pokemon_sp_defense[i].text,
                  'speed': pokemon_speed[i].text
                  }
    pokemon_results.append(pokemon_dict)

In [54]:
### Create dataframe

pokemon_df = pd.DataFrame(pokemon_results)

In [55]:
pokemon_df.head()

,Name,Type,Total,HP,attack,defence,sp_attack,sp_defense,speed
0,Bulbasaur,GRASS\nPOISON,318,45,49,49,65,65,45
1,Ivysaur,GRASS\nPOISON,405,60,62,63,80,80,60
2,Venusaur,GRASS\nPOISON,525,80,82,83,100,100,80
3,Venusaur\nMega Venusaur,GRASS\nPOISON,625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65

In [50]:
## replacing unnecessary characters

In [56]:
# pokemon_df = pokemon_df.replace('\n',', ', regex=True)

In [57]:
pokemon_df['Type']= pokemon_df['Type'].apply(lambda x: x.replace('\n',','))
pokemon_df['Name']= pokemon_df['Name'].apply(lambda x: x.replace('\n','/'))

In [58]:
pokemon_df.head()

,Name,Type,Total,HP,attack,defence,sp_attack,sp_defense,speed
0,Bulbasaur,"GRASS,POISON",318,45,49,49,65,65,45
1,Ivysaur,"GRASS,POISON",405,60,62,63,80,80,60
2,Venusaur,"GRASS,POISON",525,80,82,83,100,100,80
3,Venusaur/Mega Venusaur,"GRASS,POISON",625,80,100,123,122,120,80
4,Charmander,FIRE,309,39,52,43,60,50,65

In [49]:
pokemon_df.shape

(1045, 9)

In [59]:
# saving the file into excel

In [60]:
pokemon_df.to_excel('pokemon_db_cleaned.xlsx',index=False)

In [ ]:
pd.read_excel('pokemon_db_cleaned.xlsx')